html {
  background-color: blanchedalmond;
}

h1 {
  color:midnightblue;
  text-align: center;
  font-family: 'Times New Roman', Times, sans-serif;
}

h2 {
  color:navy;
  text-align: center;
  line-height: 30px;
  font-family: 'Times New Roman', Times, serif;
}

h3 {
  color: navy;
  text-align: center;
  font-style: italic;
  line-height: 30px;
  font-family: 'Times New Roman', Times, serif;
}

p {
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  color: navy;
}

ul {
  line-height: 30px;
  color:navy;
  font-family: 'Times New Roman', Times, serif;
}

ol {
    line-height: 30px;
  color:navy;
  font-family: 'Times New Roman', Times, serif;
}

img {
  border:2px solid navy;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right:auto;
}