html {
  background-color: blanchedalmond;
}

h1 {
  color:navy;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  line-height: 50px;
}

h2 {
  color:darkblue;
  text-align: center;
}

ul {
  color:navy;
  font-size:large;
  font-weight:bold;
}

img {
  width: 200px;
  border:2px solid navy;
  border-radius: 50px;
}